<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="command_chassis_endpoints">
    <gpio name="command/chassis/linear/x">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </gpio>
    <gpio name="command/chassis/linear/y">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </gpio>
    <gpio name="command/chassis/angular/z">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </gpio>
    <gpio name="command/chassis">
      <command_interface name="mode"/>
      <state_interface name="mode"/>
    </gpio>
  </xacro:macro>

  <xacro:macro name="command_gimbal_endpoints">
    <gpio name="command/gimbal/yaw">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </gpio>
    <gpio name="command/gimbal/pitch">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </gpio>
    <gpio name="command/gimbal">
      <command_interface name="enabled"/>
      <state_interface name="enabled"/>
    </gpio>
  </xacro:macro>

  <xacro:macro name="command_shooter_endpoints">
    <gpio name="command/shooter">
      <command_interface name="mode"/>
      <command_interface name="sequence"/>
      <state_interface name="mode"/>
      <state_interface name="sequence"/>
    </gpio>
  </xacro:macro>

  <xacro:macro
    name="command_endpoint_system"
    params="name plugin chassis:=false gimbal:=false shooter:=false">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${plugin}</plugin>
      </hardware>

      <xacro:if value="${chassis}">
        <xacro:command_chassis_endpoints/>
      </xacro:if>
      <xacro:if value="${gimbal}">
        <xacro:command_gimbal_endpoints/>
      </xacro:if>
      <xacro:if value="${shooter}">
        <xacro:command_shooter_endpoints/>
      </xacro:if>
    </ros2_control>
  </xacro:macro>
</robot>
